:root{
    font-family: 'Kumbh Sans', sans-serif;
    --vermelhoClaro: hsl(0, 100%, 67%);
    --laranjaAmarelo: hsl(39, 100%, 56%);
    --verde: hsl(166, 100%, 37%);
    --azul: hsl(234, 85%, 45%);
    --azulPalido: hsl(221, 100%, 96%);
    --lavanda: hsl(241, 100%, 89%);
    --azulEscuro: hsl(224, 30%, 27%);
    --gradienteFundo: linear-gradient(to top, rgb(173 104 233), hsl(241, 81%, 54%));
    --gradienteCirculo: linear-gradient( hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    
}
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
background: var(--gradienteFundo);
    
}
.container{
    background-color:#fff;
    width:90vw;
    height:fit-content;
    margin:auto;
    margin-top:200px;
    border-radius:30px;
}

.images-area{
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin:auto;
}
#woman{
    position:absolute;
    width:300px;
    margin-top:-180px;
}
#shadow{
    margin-top:10px;
    width:300px;
}
.faq-area{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}
.faq-area .title{
    margin-top:25px;
    margin-bottom:40px;

}
.question-area{
    margin:40px;
}


.questions{
    display:grid;
    grid-template-areas:
    "pergunta pergunta seta"
    "resposta resposta resposta";
    border-bottom:1px solid var(--azulPalido);
    padding-bottom:30px;

}

.question{
    grid-area:pergunta;
    color: var(--azulEscuro);
    justify-self:flex-start;
    margin-top:10px;
}
.question-area img{
    grid-area:seta;
    align-self:center;
    justify-self: flex-end;
    margin-left:5px;
}
.response{
    grid-area:resposta;
    color:var(--lavanda);
    margin-top:10px;
    display:none;
    
}
